[2020-06-26 18:25] tommytroen opened #3 "Support multiple constructors for DefaultOAuth2TokenCallback when using Java"
* Add more constructors according to default values set in DefaultOAuth2TokenCallback

[2020-06-26 18:27] tommytroen opened #4 "add overload methods for MockOAuth2Server.issueToken() with sane defaults"
* should work from java
* one example which can be added is `issueToken(tokenCallback: OAuth2TokenCallback)`

[2020-06-26 18:33] tommytroen opened #5 "add option to use another server than MockWebServer for standalone mode"
* e.g. Netty et al

[2020-09-08 19:46] tommytroen opened #7 "support OIDC single/global/central logout endpoint"
Ref:
* OpenID Connect Session Management v1.0 Spec
* OpenID Connect Front-Channel Logout v1.0 Spec
* OpenID Connect Back-Channel Logout v1.0 Spec

Should be simple as this is afterall a mock, however it should validate that the correct params are received at the endsession endpoint and do proper redirects as per spec

[2020-09-21 09:30] mariomartinezricston opened #8 "docker pull throwing " no basic auth credentials " error"
Hi,

I am trying to run the mock Oauth server through a docker container. When pulling the docker image, I am receiving a "no basic auth credentials" error.

Command executed: _**docker pull docker.pkg.github.com/navikt/mock-oauth2-server/mock-oauth2-server:0.1.35**_

Output: **Error response from daemon: Get https://docker.pkg.github.com/v2/navikt/mock-oauth2-server/mock-oauth2-server/manifests/0

[2020-09-21 09:42] mariomartinezricston commented on #8
After login successfully into docker.pkg.github.com using the command:   docker login https://docker.pkg.github.com -u $USERNAME

I am now receiving: `**_Error response from daemon: unauthorized: Your request could not be authenticated by the GitHub Packages service. Please ensure your access token is valid and has the appropriate scopes configured._**`

[2020-09-21 09:54] mariomartinezricston commented on #8
Found the solution, the docker.pkg.github.com authorization does not support account password. Instead, a "personal access token" value has to be given when executing `docker login https://docker.pkg.github.com -u $USERNAME`

[2020-09-21 10:02] #8 closed

[2020-09-21 10:03] jksolbakken commented on #8
Good to see that you found a solution! We should probably move this image to the new `Github Container Registry` which allows for anonymous pulling.

[2020-10-05 15:37] tronghn commented on #7
Note: RP-initiated logout has been split out to [its own specification](https://openid.net/specs/openid-connect-rpinitiated-1_0.html) as per [#1085 Make RP-Initiated Logout description self-contained](https://bitbucket.org/openid/connect/issues/1085/make-rp-initiated-logout-description-self).

[2020-10-12 14:22] tronghn opened #14 "examples and documentation for implemented grants/flows"
Should have example apps and documentation for implemented grants/flows for completeness, e.g.:

- token exchange
- JWT bearer grant/on-behalf-of
- refresh token

[2020-10-21 14:18] TheEYL commented on #8
I second this motion.

[2020-10-29 11:55] tronghn opened #17 "support for CORS preflight requests"
[code]

[2020-11-16 12:54] tommytroen opened #18 "include kotlin-stdlib as transitive dependency"
when used from Java users get:
`java.lang.NoClassDefFoundError: kotlin/KotlinNothingValueException`

[2020-11-19 15:14] espenwaaga opened #19 "JWKS returnere også feltet "use" som er satt til "sig""
Vi i FP trenger å få returnert ett JWKS som – i tillegg til de feltene som allerede eksistere – også returner feltet "use = sig" (https://tools.ietf.org/html/rfc7517#section-4.2 ).

Slik er responsen nå:

Det vi ønsker er en respons på denne formen:

[2020-11-19 19:49] #19 closed

[2020-12-01 11:55] msuret opened #21 "multi-segment issuer"
Hi,
I am trying to use this library to test a code that uses [Keycloak](https://www.keycloak.org/) client.
The problem is that Keycloak issuers are made of 2 URL segments (e.g. `/realms/master`), so the keycloak client will query for tokens at `/realms/master/protocol/openid-connect/token`.
Is it possible to make this work? Thanks!

[2020-12-02 08:48] tommytroen commented on #21
@msuret Does the KeyCloak client support a "discovery/well-known" url to configure itself? If so the structure of the issuer url shouldn't be a problem as it get configured by whatever returned from the well-known endpoint.

Can you provide any more details on the client you are using so we can investigate further?

[2020-12-02 10:12] msuret commented on #21
@tommytroen I am using the [official keycloak client](https://www.keycloak.org/docs-api/11.0/javadocs/index.html). It seems that it doesn't configure itself from a well known endpoint but uses predefined paths: https://github.com/keycloak/keycloak/blob/66dfa32cd569a7416de21b4dc04db212e8fccce5/integration/admin-client/src/main/java/org/keycloak/admin/client/token/TokenService.java#L38

[2020-12-13 21:32] jonathannaguin opened #23 "Access OAuth request body"
Hello,

I am trying to access the request body but it is always empty.
I believe the OAuth2 server consumes the requesty body when doing its internal handling so when I retrive it using`takeRequest`, I get an empty buffer.

Is there another way to access it?

Thanks!

[2020-12-14 09:58] tommytroen commented on #23
@jonathannaguin You are right, this is a bug, the body buffer is read when converting to an internal representation of the request. I dont think you can retrieve it any other way, so I'll put in a fix for this and release a new version.

[2020-12-14 10:31] tommytroen commented on #23
@jonathannaguin There is a new release `0.2.3` in maven central that should fix this issue. Please let ut know if you have any issues.

[2020-12-14 11:35] jonathannaguin commented on #23
Thanks! It works now 👍

[2020-12-14 11:35] #23 closed

[2021-01-11 08:41] #5 closed

[2021-01-18 19:48] #4 closed

[2021-01-19 11:41] tommytroen opened #27 "fix dependency issues with nimbus-jose-jwt"
Multiple versions of `nimbus-jose-jwt` on classpath may lead to exceptions such as:
`NoSuchMethodError: com.nimbusds.jose.jwk.JWKSet.toJSONObject()Lnet/minidev/json/JSONObject;`

Read more:
https://connect2id.com/blog/nimbus-jose-jwt-9

Remove dependency on stuff from net.minidev:json-smart etc

More details on related exceptions:
https://nav-it.slack.com/archives/C60FFACN5/p1599489125306800

[2021-01-21 11:09] tommytroen opened #28 "support configurable docker image"
i.e. be able to do some configuration (especially tokencallbacks) when running in standalone mode from docker

* one possible solution could be the presence of a file in e.g. HOCON format to support nested config etc.

[2021-02-04 13:16] patped opened #29 "Propose to make the library java 8 compliant"
Making the library java 8 compliant will (possibly) make it easier for older applications to migrate from another security-framework.

This means that you loose the ability to use newer java features but this doesn't mean much at this point in time, as you can see in the proposed patch (ref:1). The patch is considered work in progress, but it should give an indication of how small this change real

[2021-02-17 18:14] tommytroen commented on #29
initial need not longer there. revisit if necessary.

[2021-02-17 18:14] #29 closed

[2021-02-17 20:15] tommytroen opened #30 "document new features"
* e.g. how to add custom routes

[2021-02-18 21:24] tommytroen commented on #21
@msuret sorry for the delay on this. We have added support for multisegment issuer in #31. will prob ship a new release sometime next week.

[2021-02-18 21:41] #21 closed

[2021-02-26 17:07] catchin opened #33 "Issue when used with Spring Boot log4j2 starter"
When using this project together with `org.springframework.boot:spring-boot-starter-log4j2` on Spring Boot 2.4.3, an exception is thrown during startup:
[code]
I created a test project [here](https://github.com/catchin/mock-oauth-server-with-spring-boot)

Probably it would be good to not include logback, but perhaps only rely on slf4j?

[2021-02-27 06:14] catchin commented on #33
A workaround is to exclude logback in the gradle configuration:
[code]
It would be nicer however if it works without this workaround

[2021-03-02 11:59] tommytroen commented on #33
@catchin we will take a look at this. we need a slf4j implementation for the standalone/docker mode, hopefully some gradle gymnastics could do the trick

[2021-03-05 18:24] tommytroen opened #35 "allow issuer to be overriden by tokencallback"
* allow `iss` value from `OAuth2TokenCallback.addClaims()` to override server issuer url if set
* consider making this "feature" a toggle as this may lead to confusing behaviour if not intentional, e.g. the server issuer url beeing different from the token issuer value

[2021-03-05 18:26] tommytroen opened #36 "support PKCE verifier in authorization_code flow"
* https://oauth.net/2/pkce/

[2021-03-09 17:59] #28 closed

[2021-03-10 19:03] #35 closed

[2021-03-19 06:45] GrahamLea opened #38 "Any idea why mock-oauth2-server doesn't build locally for me?"
I cloned the repo, then ran `./gradlew build`, and got:
[code]

When I look at the code, that error seems to be right. The line is:
[code]
`java.nio.charset.StandardCharsets.UTF_8` is a `Charset`, and `java.net.URLEncoder.encode()` expects a `String`.

[2021-03-19 06:56] tronghn commented on #38
`java.net.URLEncoder.encode()` expects a `Charset` as of JDK 10 and upwards. This project is set to use JDK 11, so it sounds like you might have an older version installed and in use.

[2021-03-19 09:47] GrahamLea commented on #38
Okay. Thanks. I don't know what's going on but I told jenv to use JDK 11 and Gradle says it's using JDK 11, but when it runs I still get the errors. 🤷🏻‍♂️

[2021-03-19 09:47] #38 closed

[2021-04-08 06:53] git9999999 opened #39 "Docker Imange on hub.docker.com"
Hi,

Thanks a lot for mock server, that is exactly what i need :-)

I am working in a corporate environment so the docker images get downloaded to our Artifactory. As you need a login for docker.pkg.github.com, this makes it a but un-handy.... for our Infrastructure-Team. It would be cool the Image would be on hub.docker.com, this is the most common place to store docker Images.

This i just a wis

[2021-04-08 07:17] jksolbakken commented on #39
Glad that that you enjoy it! We are in the process of moving our stuff to the shiny new "GitHub Container Registry" (ghcr.io) where you won't need to log in. Will that work for you?

[2021-04-08 07:47] git9999999 commented on #39
i think on ghcr.io => https://github.com/features/packages we have to still login and pay. https://github.com/features/packages#pricing

[2021-04-08 08:58] git9999999 commented on #39
we made a mistake. i think the usage is free but you need to login
https://docs.github.com/en/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-packages#about-billing-for-github-packages

on docker.pkg.github.com no login is needed, that makes it way simpler to use in corporate environment

[2021-04-08 10:06] jksolbakken commented on #39
On ghcr you can access public images anonymously, see https://docs.github.com/en/packages/guides/migrating-to-github-container-registry-for-docker-images#key-differences-between-github-container-registry-and-the-docker-package-registry. If the login part is what's causing you problems you should be fine once we publish there. It's on our todo list, we'll hopefully find time to do it within the nex

[2021-04-08 10:36] git9999999 commented on #39
Thanks for your help. We are looking forward to the ghcr.io migration :-)

[2021-04-08 10:36] #39 closed

[2021-04-19 06:58] jonalu opened #41 "Id token should include `sid` claim to enable frontchannel logout"
The [ID-porten doc](https://doc.nais.io/security/auth/idporten/#front-channel-logout) states that logout initiated from other RPs in circle of trust results in frontchannel logout requests to all RPs (`GET` `/oauth2/logout`). To perform logout the receiving RP needs to resolve the  session from the `sid` parameter.

The `sid` should be available as a claim on the id_token.

[2021-04-19 07:07] ybelMekk commented on #41
You want this as a default?

I think  it is possible to configure the response as you like with claims?

From doc:
`If you need specific claims in the resulting `id_token` - e.g. `acr` or a custom claim you can also use the `OAuth2TokenCallback`:`

[2021-04-28 06:12] jonalu commented on #41
I guess it makes sense not to mimic id-porten in the default configurations. We'll look into how we can make use of the custom claims functionality you proposed. Thanks!

[2021-04-28 06:12] #41 closed

[2021-05-07 08:17] catchin opened #43 "Support different key for each tenant"
I would find it convenient if each tenant uses a different key for signing the JWTs, so that I can use the mock-oauth2-server to use it for unit-testing authentication against different tenants.
Would this be something that makes sense also for others?

[2021-05-12 15:34] catchin commented on #43
Hi @tommytroen , thanks for the response! To elaborate on my use case: I need to support two different issuers for authentication. In real life, they have different keys.
A simple implementation looks like this: First, try to decode and validate it using issuer1. If this fails due to a different signing key being used, decode and validate it using issuer2.
This implementation cannot be tested usin

[2021-05-15 18:44] tommytroen commented on #43
Thanks @catchin I understand your use case now. Most users would probably check the issuer before verifying the signature, however this is an implementation detail so I understand there are multiple ways to implement this. I'll have a look to  see if we can implement this as I think this could probably benefit others. One can only assume so much!

[2021-05-20 07:48] #43 closed

[2021-05-20 08:03] tommytroen commented on #43
@catchin just released a version https://github.com/navikt/mock-oauth2-server/releases/tag/0.3.3 with a fix to your issue.

[2021-05-26 14:41] janhoy opened #45 "[Question] What is the easiest way to support https?"
Cannot see this question answered in docs or other issues. And I don't have access to project slack space, so therefore a new issue.

I need to specifically test an application's ability to talk HTTPS with the OAuth server, and trust custom SSL certificates. So I started with this project and got it setup quite easily with http. But now I am struggling to make the server listen over https with a c

[2021-05-27 10:32] tommytroen commented on #45
@janhoy You are right, we haven't documented this as we have considered it to be out of scope so far, however I can see the use case for https in tests also. Can you use the docker approach for this or are you dependent on having an instance of the server in your java code?

I tested enabling HTTPS by using `docker-compose` and `nginx-proxy` (https://github.com/nginx-proxy/nginx-proxy) as a revers

[2021-05-27 10:53] tommytroen commented on #45
To answer the question about enabling HTTPS without docker I think the Netty wrapper would probably be easiest approach. It's not currently on our roadmap to create a https wrapper, but we can most certainly consider it.  I'll have a quick look and get back to you.

[2021-05-27 13:58] janhoy commented on #45
Thanks for the reply. For this particular project it will run as part of an ordinary JUnit test so terminating SSL with nginx-proxy is unfortunately not a viable solution. I've used that solution in other projects though.

I might attempt a PR for this..

[2021-05-27 21:06] tommytroen commented on #45
@janhoy PRs are welcomed 😄 I was a bit intrigued by this so I started a new branch here for the NettyWrapper: https://github.com/navikt/mock-oauth2-server/compare/support_https?expand=1

Haven't run a full integration test with https enabled though - but the NettyWrapper behaves as expected with HTTPS.

[2021-05-28 00:14] janhoy commented on #45
I discovered that the `MockWebServerWrapper`was not as closed as I thought, and was able to get and modify the inner `MockWebServer` like this

[code]

So I now have it serve a HTTPs address for me. Still got some work left to add correct certificate trust to my test method, getting `javax.net.ssl.SSLHandshakeException`, but I think I have what I need without extending your library. This can of co

[2021-05-28 12:16] janhoy commented on #45
I have now successfully completed my integration with the workaround mentioned above, so I'll close this issue.

I guess you could do almost identical change to the constructor of MockWebServerWrapper and thus support same style configuration across both.

[2021-05-28 12:16] #45 closed

[2021-06-08 10:21] RG9 opened #46 "Make "maxLifetimeSeconds" of token configurable"
Right now "maxLifetimeSeconds" is hardcoded for 120 seconds in `OAuth2HttpRequest` in call of `requirePrivateKeyJwt`.

Example:
[code]

Motivation: Testing refreshing token expiry

[2021-06-08 17:58] tommytroen commented on #46
@RG9 thanks for your input. This value could certainly be configurable, however I'm not sure that will help your use case with refresh on token expiry (if I understood it right - using the refresh_grant to refresh an access_token)? Let me know if I have misunderstood.

The `requirePrivateKeyJwt` is for validating `client_assertion`s only - i.e. what you use to authenticate your client (meaning the

[2021-06-11 07:56] catchin commented on #43
Thank you @tommytroen, I tried the new version and it works perfectly. :+1:

[2021-06-21 21:16] RG9 commented on #46
You're right, sorry, I misunderstood purpose of this assertion. The actual problem I had was with "clock skew". Thanks for good explanation!

[2021-06-21 21:16] #46 closed

[2021-07-01 01:24] puneetbabbar26 opened #48 "Running the standalone Mockserver as a Java exec in Maven is causing a runtime failure"
Hi,

I am using the version `0.3.3` of the `mock-oauth2-server` plugin

I am trying to run the mock-oauth2-server as a standalone process by wrapping it up with `exec-maven-plugin`

This is what the section of the pom looks like
[code]

When the server starts up, and the `http://localhost:8989/default/.well-known/openid-configuration` is hit, it fails with the following error

[code]

Any tips on

[2021-07-01 08:19] tommytroen commented on #48
@puneetbabbar26 This is most likely due to conflicting dependency versions. Can you post your pom.xml or create a sample project with the same dependencies and post the link here?

[2021-07-01 09:13] puneetbabbar26 commented on #48
Hey @tommytroen

I tried a Java command line with the entire classpath as well (as derived from pom) to replicate the issue.

here it is

[code]

[2021-07-01 09:33] tommytroen commented on #48
@puneetbabbar26 it looks like you have got the wrong versions of the `okhttp3` libs - they should be on at least `4.9.1`, but in your output they are on `3.14.9`:

com/squareup/okhttp3/mockwebserver/3.14.9/mockwebserver-3.14.9.jar
com/squareup/okhttp3/okhttp/3.14.9/okhttp-3.14.9.jar

Are you using Spring Boot in your app? I know some users have had some issues with Spring managed versions on `okht

[2021-07-01 23:52] puneetbabbar26 commented on #48
Thanks @tommytroen I was able to get it to run after spending a lot of time trying to fix the dependencies.
**Suggestion** - For standalone can you provide a FAT JAR that has all the dependencies that are needed to run the mock-oauth2-server with ease?

Also, I have struggled badly to get the mock server to behave correctly with the expectations and correct tokens. I have used the following file t

[2021-07-05 08:52] tommytroen commented on #48
Sorry to hear that you feel its frustrating to use, it can be hard to predict use-cases and how the server is used by different users. We will have a look at the documentation. If you have any specific issues please feel free to open separate issues with details for this. In regards to the FAT jar use case we feel this is covered by the docker version. Closing this issue now.

[2021-07-05 08:52] #48 closed

[2021-07-13 05:52] kokorin opened #50 "Exception in thread "MockWebServer" java.lang.NoSuchMethodError: 'okio.Buffer okio.Buffer.copy()'"
Hello, thank you for the project.

I want to use it in my project, but unfortunately there is dependency conflict in runtime if `spring-boot-starter-oauth2-client` is used.

Whole stacktrace:

[code]

Here is the sample project, which reproduces the error: [demo.zip](https://github.com/navikt/mock-oauth2-server/files/6806188/demo.zip)

If `spring-boot-starter-oauth2-client` dependency is commented

[2021-07-13 07:21] kokorin opened #51 "Testcontainer failes to verify mock-oauth2-server startup"
The following code snippet starts a container, but can't check that container listens on internal port.

[code]

Probably the issue is related to https://github.com/testcontainers/testcontainers-java/issues/3317

Check demo app which reproduces the problem: [demo.zip](https://github.com/navikt/mock-oauth2-server/files/6806660/demo.zip)

Workaround: use log message Wait:
[code]

[2021-07-15 10:23] geld0r opened #52 "Implicit flow not supported"
I am trying to use the standalone version provided via docker-compose (exposed on port 8082) and have pointed my locally running app against the mock-server. The app uses an implicit flow triggered by SwaggerUI and produces the following request:

Request:
http://localhost:8082/cola/authorize?response_type=token&client_id=myapp&redirect_uri=http%3A%2F%2Flocalhost%3A8081%2Fswagger-ui%2Foauth2-redir

[2021-07-19 12:27] shartte commented on #3
Could this be done by adding the `@JvmOverloads` annotation to the corresponding constructor?

[2021-08-10 08:49] tommytroen commented on #52
@geld0r Sorry for the late reply. Implicit flow is currently not supported as you mentioned. I'll have a look to see whats required to support it and get back to you.

[2021-08-17 10:00] ybelMekk commented on #33
I started on a PR. But after a discussion with my team mates, we see this issue as solved. Du to the fact that that the logback-classic is needed for docker mode run and if used as library an exclude could be a simple workaround. This could be solved if implemented with separate dep. for gradle and docker, but not really worth it.

[2021-08-17 10:00] #33 closed

[2021-08-17 10:01] ybelMekk commented on #51
I dot think it is much here for to do here. The workaround seems legit with a wait for container.

[2021-08-17 10:01] #51 closed

[2021-08-17 10:24] ybelMekk commented on #18
@tommytroen is this stil valid?

[2021-08-17 12:36] ybelMekk commented on #3
@tommytroen  any thoughts ☝🏾

[2021-08-17 12:40] ybelMekk commented on #50
More a spring thing. Could be solved as suggested over ☝🏾

[2021-08-17 12:40] #50 closed

[2021-08-19 09:20] catchin opened #76 "RemoteKeySourceException Read time out within Spring Boot test"
We have a flaky test that sometimes fails in our source code and I can reproduce it in `OAuth2ResourceServerAppTest` when running `./gradlew cleanTest test --tests OAuth2ResourceServerAppTest` multiple times.
The result is that the "api should return 200" test fails with the following stack trace
[code]

Maybe this has something to do with the change in #44 as we only experience it in our codebase

[2021-08-19 11:45] tommytroen commented on #76
@catchin Thanks for reporting the issue. Sadly I haven't been able to reproduce it myself yet (MacOS, openjdk 15.0.2).

It could be related to #44 but I find it odd that it would result in a read timeout. The main change in 44 is that the signing key for a given issuer will be generated when first accessed (`computeIfAbsent` on a `ConcurrentHashMap`), this could explain why your workaround fixes t

[2021-08-19 11:47] tommytroen commented on #3
fixed

[2021-08-19 11:47] #3 closed

[2021-08-19 12:20] catchin commented on #76
Hi @tommytroen, thanks for the response. I also find it a bit odd.

My test setup uses a static `MockOAuth2Server` instance that is started as part of the static initializer block in the class, and a `TestInstancePostProcessor` overriding `postProcessTestInstance` that uses `System.setProperty("spring.security.oauth2.resourceserver.jwt.jwk-set-uri", server.jwksUrl("admin").toString())` to make the

[2021-08-19 12:29] ybelMekk commented on #76
hmm, is this the same as on one of our build her @tommytroen ? https://github.com/navikt/mock-oauth2-server/runs/3349247017?check_suite_focus=true

[2021-08-19 12:33] ybelMekk commented on #76
problem is, we dont save test results.

[2021-08-19 12:40] catchin commented on #76
@ybelMekk I can confirm that the stack trace is identical when running it in the console. (The stack trace in the original post is from running it in the IDE)

[2021-08-19 12:51] ybelMekk commented on #76
@catchin I tried to reproduce it in the IDE, but no luck. But remembered to see the stack trace you pasted here.

[2021-08-30 07:30] tommytroen commented on #76
@catchin @rvplauborg @ybelMekk

So I've managed to reproduce it a couple of times (not consistently) by switching back and forth between java version. I have not been able to reproduce it in the IDE so debugging is challenging.

By looking at the Spring Boot and Nimbus code it could in fact be a read timeout issue - why only flaky/random I'm not sure.

So TLDR by looking at the Spring code:
* Spri

[2021-09-02 08:28] tommytroen commented on #76
@catchin I have created a branch here - https://github.com/navikt/mock-oauth2-server/tree/initialkeys_on_startup - which loads up to 5 keys from file on startup. This should improve startup time and initial calls to the jwks endpoint, and hopefully be within the 500 ms read timeout in the `DefaultResourceRetriever`.

Can you test it and see if it solves your issue?

[2021-09-03 05:12] catchin commented on #76
@tommytroen Thank you for the work! I ran my tests with the branch version and I could not reproduce the error during startup.

With version 0.3.4, I could still reproduce the error. So I am confident that your changes fix the issue (although this is always hard to say with flakyness...).

[2021-09-10 07:43] #76 closed

[2021-09-17 16:08] #18 closed

[2021-09-28 12:27] janosimas opened #102 "Docker and https"
Hi,
I'm trying to start a docker server with https but I cannot get it to work. I'm getting parser errors from the sample json rpovided in the readme.

This is the command I'm using:
[code]

This is the error I'm getting:
[code]

[2021-09-28 15:03] fgstewart commented on #102
The latest image is this one:
[code]
Your command modified with this image:tag starts fine for me:
[code]

[2021-09-29 06:44] janosimas commented on #102
It works with the latest image, thanks

[2021-09-29 06:44] #102 closed

[2021-10-14 10:01] jp7677 opened #112 "Support other claims in login form"
Hi there,

Thanks a lot for creating this project. I'm currently playing with the stand-alone docker image as a lightweight alternative to a full OAuth2 server.

The current request mapping lets you specify different claims to be returned based on request parameters, but I could not find a way to define different claims based on the information in the "login" form, subject or acr. (Please let me k

[2021-10-15 09:14] #112 closed

[2021-11-01 13:53] #17 closed

[2021-11-02 13:30] Allsimon opened #121 "Support more token signing algorithms"
Hello,

is it possible to support more token signing algorithms? It looks like only RS256 is supported out of the box

[2021-11-04 08:18] tommytroen commented on #121
@Allsimon It can be done yes, which algorithms are you looking to use?

[2021-11-10 09:04] Allsimon commented on #121
I'd like to use RS512 and ES256

[2021-11-10 17:14] Zoharat opened #126 "Turn off Interactive login"
I am trying to use the docker image in my test environment.

The application makes a request as
http://oauthServer:8080/default/authorize?prompt=login&state=00000001fm5ccpbb470sgc1fe07mh66t&response_type=code&client_id=test&redirect_uri=https%3A%2F%2Fapp.test.com%3A8443%2Ftest%2Fwebservices%2Frest%2Foauth%2Freturn&scope=openid%20scope1%20scope2

my json config I have interactive set as false.

But

[2021-11-10 18:06] tommytroen commented on #126
@Zoharat I'm afk at the moment, but on first glance you might get the login page as a result of sending 'login=prompt' in your auth url. Try removing that query param.

[2021-11-10 18:07] Zoharat commented on #126
I though as well, so removed that but it did not help still got the login page.

[2021-11-10 18:07] tommytroen commented on #121
@Allsimon We will put it in the backlog 👍

[2021-11-10 18:09] tommytroen commented on #126
Alright. I'll have a look when I'm on a laptop.

[2021-11-11 14:06] Zoharat commented on #126
Hello,
Have you had a chance to reproduce it? Any updates?

[2021-11-11 16:53] tommytroen commented on #126
@Zoharat I seems to work fine when removing the `login=prompt` query param on the latest version (`0.4.0`) when I tested. Both with the json config as an env var and as a mounted file.

I tested with the following in docker-compose:
[code]

and with the same json config mounted as a file.

Maybe your config isn't set properly and therefore giving you the default behaviour. How do you specify your

[2021-11-11 17:30] Zoharat commented on #126
I am testing version 0.4.0,  I passed in a path to the file as

 oauthServer:
    image: ghcr.io/navikt/mock-oauth2-server:0.4.0
    environment:
      JSON_PATH_CONFIG: "/oAuthConfig/config.json"
    networks:
      test:
    volumes:
      - ./oAuthConfig/config.json:/oAuthConfig/config.json

[2021-11-11 18:48] Zoharat commented on #126
Using the configuration as json versus pointing to a file worked for me.  Thank you for your help!

[2021-11-11 18:48] #126 closed

[2021-11-18 11:27] #14 closed

[2021-11-18 11:27] tommytroen commented on #14
done

[2021-11-18 11:29] tommytroen commented on #27
shouldn´t be an issue after upgrading to 9.x

[2021-11-18 11:29] #27 closed

[2021-11-19 08:38] #36 closed

[2021-11-22 14:56] jonalu opened #135 "Should provide claim `sid` for use in oauth2/callback"
The `sid` claim is required by [wonderwall](https://github.com/nais/wonderwall).

It can be provided manually in the custom claims input, but it could/should provide a unique `sid` upon login.

Example wonderwall error when `sid` not provided:
[code]

[2021-11-22 15:47] tronghn commented on #135
I disagree. Wonderwall incorrectly assumes that every OP must provide the `sid` claim in the id_token, which would be the case if the OP supported the [OpenID Connect Front-Channel Logout](https://openid.net/specs/openid-connect-frontchannel-1_0.html#OPLogout) specification. This would be indicated by the  `frontchannel_logout_session_supported` property in the metadata discovery document, which m

[2021-11-23 17:35] mrsladek opened #137 "Java 17 support"
Running the server with java 17 produces an error

`java.lang.UnsupportedOperationException: Reflective setAccessible(true) disabled
	at io.netty.util.internal.ReflectionUtil.trySetAccessible(ReflectionUtil.java:31)
	at io.netty.util.internal.PlatformDependent0$4.run(PlatformDependent0.java:253)
	at java.base/java.security.AccessController.doPrivileged(AccessController.java:682)
	at io.netty.util.

[2021-12-06 11:09] tronghn commented on #135
Wonderwall issue here: https://github.com/nais/wonderwall/issues/7

Closing this remaining issue as a duplicate of #7.

[2021-12-06 11:09] #135 closed

[2022-01-04 11:21] #121 closed

[2022-01-04 11:48] ybelMekk commented on #137
Hello! @mrsladek Did you find a workaround for this?

[2022-01-07 12:52] ybelMekk commented on #30
@tommytroen
Could you specify what features you refer to?
So will i try to document :-)

[2022-01-12 08:28] tommytroen commented on #52
Closing - ref: https://github.com/navikt/mock-oauth2-server/pull/148#issuecomment-995899482

[2022-01-12 08:28] #52 closed

[2022-01-30 21:32] ptrsd opened #189 "Well-known response doesn't contain user info endpoint url"
Hi,

I've just started using your mock server - it looks promising! I realized that a well-known endpoint doesn't contain a user info endpoint URL.

Actual response:

[code]

Expected response:

[code]

[2022-01-31 07:58] ybelMekk commented on #189
Hello!
Good you found the mock promising :D.

Thats a good spot! I've added a review.

Thanks for opening the issue but even better is opening a PR for your own issue.

Thanks.

[2022-01-31 08:26] #189 closed

[2022-01-31 10:06] #7 closed

[2022-02-10 16:50] git9999999 opened #194 "Feature Request: REST endpoint on Standalone server to define JSON_CONFIG"
Hi

I am just started with Oauth2 and am sorry if my text contain some errors :-( and I am not sure if i under stud all concepts right.

I have a Project that has a System Test. In the System Test all apps are started in docker containers. The Test runs on public APIs of that containers and for some components i programmed some Mocks. I am able to generate Unique Test Data for every Test case. eg

[2022-02-16 08:09] ybelMekk commented on #194
Hello and thanks for the feature request. If understand your issue correctly, i do have a question for you, why do you generate test data each time? It may make your testing "blackboxed" as you dont know what your test input is, and it dosent really sound like a good tests to me. Is it an option to prepare the `JSON_CONFIG` with users you are interessed in and build your integration test cases on

[2022-02-16 08:11] ybelMekk commented on #137
closing this issue, du to no action or response. Can be opened again later-

[2022-02-16 08:11] #137 closed

[2022-02-16 08:36] git9999999 commented on #194
Hi ybelMekk

I run my tests in the maven build and in intellj as junit tests. Locally i run the same test serval times. Now imagine your test create a Message and send it to your System. Your tests validate that the user get just that one message. If you have static data, the second time you run that test there will be two messages in the System. You also need a lot of static test data, if you hav

[2022-02-16 08:39] ybelMekk commented on #194
I see, it makes the test hard to read also. So the feature your after is updating the next response from the IDP?

[2022-02-16 08:43] ybelMekk commented on #194
i think we had a similar PR, it this somehow your picture it? https://github.com/navikt/mock-oauth2-server/pull/168/files

[2022-02-16 08:50] git9999999 commented on #194
i am not sure if i understand your question right.
i have not yet implemented the security yet, but i think i will work like this:
1) create the user with a not secured api call in the backend
2) call the IDP and send it the username + roles.
3) receive the jwt token from the IDP. maybe as response form the 2) or with a separate call
4) call the backend with the jwt token in the header

i hope thi

[2022-02-16 08:55] git9999999 commented on #194
I am sorry, i don't understand the PR and am not familiar with Kotlin :-(

[2022-02-20 23:49] bethesque opened #200 "Support PORT environment variable"
Thanks for your work on this server! It has been very useful to our project.

I'd love to be able to run your mock server on Heroku. To do this, it needs to be able to honour the `PORT` environment variable. I've tried building my own docker image that extends your image and maps the `PORT` to `SERVER_PORT`, but it doesn't seem there's a shell environment installed on the image, and I can't find y

[2022-02-21 23:14] ybelMekk commented on #200
Hi. I’m happy to hear that you find the server useful. We would love to have a PR! And the source file, yes, I need to call my magician @jksolbakken you’ve Ben dealing with this right? 😅

[2022-02-21 23:30] ybelMekk commented on #194
Hello. And sorry for delay. I think we talk past  each other here 😊 did you start implementing the security in your application? May be that things become clearer then?

[2022-02-22 03:37] bethesque commented on #200
Ah, maybe there's some magic in the `jibDockerBuild` task that doesn't need a Dockerfile. I am totally not a JVM person, just relying on my ability to modify an existing build! I've got it [running in my fork](https://github.com/bethesque/mock-oauth2-server/actions/runs/1879034598)

You might want to add `pull_request` to the `on:` for the tests?

[2022-02-22 07:04] ybelMekk commented on #200
@bethesque It is already there for PR´s 👍🏾

[2022-02-22 22:08] bethesque commented on #200
Ah, I see, you've got a separate one for PRs 👍🏽

[2022-02-23 11:46] ybelMekk commented on #200
@tronghn @tommytroen or @jksolbakken any comments on the PR? :)

[2022-03-07 06:43] git9999999 commented on #194
Hi
I was able to solve my Problem without a auth server. See here https://stackoverflow.com/questions/71170940/how-to-use-authorizationserver-in-a-systemtest-to-create-jwt-tokens-without-auth/71377212#71377212

Note that it still would be cool to have that feature. I am able to generate User + TestData for UI Testers to work with. There for, it would be nice to register also the correct user in th

[2022-03-07 07:24] ybelMekk commented on #194
Oh i see.  Seems like a good solution. Please feel free to open this issue if you don’t find your solution could be solved better with this server. Closing this for now.

[2022-03-07 07:24] #194 closed

[2022-03-09 12:39] jp7677 opened #210 "Keyclock-js client library expects refresh tokens being a JWT"
This is a follow up from https://github.com/navikt/mock-oauth2-server/pull/199#issuecomment-1044984902

The keycloak-js client library (https://github.com/keycloak/keycloak/tree/main/adapters/oidc/js) needs some changes in the refresh token. it expects a kind-of proper token where it wants to decode the second part of a string separated by a . and wants to check the nonce in it. My evil hack, whic

[2022-03-23 10:07] #30 closed

[2022-03-24 16:38] rafonsecad opened #220 "scope issue in standalone server with spring boot application"
Hi everyone,

I'm trying to set up mock oauth2 as standalone server to test a spring boot application as resource server, however, the application doesn't recognize any of the scopes I set on mock oauth2. This is how I currently configure the user

![image](https://user-images.githubusercontent.com/17520030/159962044-0ec9c401-49c7-430f-b864-63d7e4599f96.png)

As can be seen this user has the scope

[2022-03-25 09:22] tommytroen commented on #220
Hi, are you using the MockOAuth2Server from a unit test or do you start it separately (e.g. docker) from the spring app?

Depending on how you use the server you can configure the server to return specific claims in the token (e.g. scope).

[2022-03-25 16:19] rafonsecad commented on #220
Hey, I'm running a standalone server from source on intellij. What I'm doing to configure the scopes is going to debugger page at http://localhost:8090/default/debugger and write the scopes I want

![image](https://user-images.githubusercontent.com/17520030/160155674-9ae4e6ab-eec0-415c-9627-ab650dae3d93.png)

Then I click on Get a token and it redirects to this page

![image](https://user-images.g

[2022-03-27 16:54] tommytroen commented on #220
@rafonsecad Have you tried putting
[code]
into the optional claims box at sign-in?

This should give you a token containing the scope claim.

[2022-03-30 13:17] mkutz opened #226 "Support Resource Owner Password Credentials grant type"
For my use case I need to implement a [Resource Owner Password Credentials](https://datatracker.ietf.org/doc/html/rfc6749#section-1.3.3) flow (grant type `password`).

[2022-03-30 15:14] rafonsecad commented on #220
That made the trick, thank you so much!!!

[2022-03-30 15:14] #220 closed

[2022-03-31 09:33] mkutz commented on #226
Looks exactly like what I was looking for, yes 😄
Sorry, didn't check open PRs. Feel free to close this.

[2022-03-31 13:10] ybelMekk commented on #226
No, i leave it here, makes it more obvious. Thanks for opening the issue anyway 👍🏾

[2022-04-12 08:27] jp7677 commented on #210
Any thoughts on how to handle the keycloak specs interpretation? I guess it come down to these options:
- Just ignore this requirement since according to specs the refresh token is supposed to be just opaque string, which in turn make this project unfortunately incompatible with the keycloak client library
- Take over my "hacky" solution which just implements the bare minimum to reach compatibilit

[2022-04-13 10:03] ybelMekk commented on #226
Released: https://github.com/navikt/mock-oauth2-server/pull/233

[2022-04-13 10:03] #226 closed

[2022-04-19 13:50] tommytroen commented on #210
@jp7677 sorry about the late response! I'm thinking we should implement this so that keycloak client can be used, it is a minor change after all and shouldn't affect other clients. Haven't decided if we should go the "hacky" route or go with a proper signed JWT - it does seem that the keykloak client only decodes and not validates the token so that leaves all possibilities open :)

[2022-04-27 10:11] #210 closed

[2022-05-06 15:16] loosebazooka opened #247 "Add alg parameter to initial keys"
Some clients (google-oauth-client) seem to expect the `alg` parameter when parsing jwks key endpoints (even though they are optional). Can we add those to the initial keys resources to expand compatibility?

[2022-05-06 19:43] loosebazooka commented on #247
For instance the jwks endpoint would return something like
[code]

[2022-05-07 08:28] ybelMekk commented on #247
Hello @loosebazooka and thanks for opening this issue.

This can be added fairly simple.

If your keen open a PR with the suggested change and I will merge it or I can ad it.

cheers

Youssef

[2022-05-07 09:40] ybelMekk commented on #247
@loosebazooka could you try this out? https://github.com/navikt/mock-oauth2-server/pull/248

[2022-05-09 13:46] #247 closed

[2022-05-10 22:53] patcon opened #251 "[bug] requestMappings in JSON_CONFIG not working as documented for docker"
First off, thanks so much for this project! I'm super-stoked to get it working, and to be able to strip a lot of custom work-arounds from a local dev environment ❤️

The thing I'm hitting is that I'm unable to use the standalone mode as described, specifically with `requestMappings`. I've confirmed that:
- the config json is being read,
- top-level config can be changed (e.g., `interactiveLogin`),

[2022-05-11 01:56] patcon commented on #126
Thanks @Zoharat! Your off-hand comment here just saved me after hours of toiling away with the config file in docker <3

[2022-05-11 01:57] patcon commented on #251
Yay! Thanks to this comment, I was able to find a work-around by just passing the same JSON into an envvar. I suspect there's something that still needs to be fixed, but I'm glad to not feel crazy anymore...!

[2022-05-11 06:20] tronghn commented on #251
Are you sure the config file is being read? Your reproduction setup seems to work fine on my machine by either:
- renaming the file from `./conf/conf.json` to `./conf/config.json`, or
- pointing the config variable to the correct path (e.g. `JSON_CONFIG_PATH: /app/conf/conf.json`).

[2022-05-11 06:30] patcon opened #252 "Support mocked introspect endpoint"
Seems like it simply returns:

[code]

Thanks for considering!

Alt implementation:
https://github.com/axa-group/oauth2-mock-server/blob/2039693d4fb52949b306e257b52d065667970f66/src/lib/oauth2-service.ts#L411-L416

[2022-05-11 06:43] patcon opened #253 "feat: add support for x5c chain cert key in /jwks"
Any advice on how this might be done? Especially curious to figure it out for the standalone server, but maybe I can figure out.

Wondering whether any of the SSL functionality could be leveraged here. Any guidance is appreciated!

https://curity.io/resources/learn/self-contained-jwts/#x5c

[2022-05-11 11:16] ybelMekk commented on #253
Hello @patcon and thanks for opening the issue.

We need to add some code to get that bit to work 👍🏾

[2022-05-11 12:00] ybelMekk commented on #252
Hello again, same her: https://datatracker.ietf.org/doc/html/rfc7662

some code need to be added, feel free to submit a PR 😄

[2022-05-12 10:57] ybelMekk commented on #253
@patcon try out: https://github.com/navikt/mock-oauth2-server/pull/255

not complete, but please try it out in you use-case.

[2022-05-13 19:20] ybelMekk commented on #251
@patcon tried your bug report, got same result as @tronghn, by updating the config.json file name or update docker-compose.yml, but i dont understand why you use version `0.3.6`? latest [release](https://github.com/navikt/mock-oauth2-server/releases/tag/0.4.7). Seems like their is a default output you get with the miss configuration.

[2022-05-14 18:39] patcon commented on #253
Oh heck, I fully expected to need to dive into this myself, and so I'm really humbled by this spike. Thank you so much, Youssef! 🙏

I'd actually had some back-and-forth later in the week with an employee at our government identity provider, and they seemed to indicate that x5c was redundant to "n" and "e" together: https://github.com/GCTC-NTGC/gc-digital-talent/issues/2716

In your understanding,

[2022-05-14 19:43] patcon commented on #251
Hm. I must have been seeing something else in my actual non-reproduction version, but glad to know...

If I were to think what may have tipped me off: I was reading output logs, and maybe a warning clarifying that file was detected as set in envvar, but not found at the location? But that's very minor..!

Thanks very much both, and apologies for the noise 🙏

[2022-05-14 19:43] #251 closed

[2022-05-14 21:35] ybelMekk commented on #251
no need to apologies! thanks for bringing it up and engaging in the project 👍🏾

[2022-05-15 10:42] ybelMekk commented on #253
Yes,

the modulus ( n) and exponent ( e) which together are sufficient to construct the RSA Public Key. This key can be then used to validate the signature.

[2022-05-16 07:47] #252 closed

[2022-05-17 01:45] patcon commented on #253
Thanks for that :) Since we have control of the code doing the validating, I think I'm just going to advocate we ditch our use of x5c in the client, and build the public key in PEM format ourselves.

So while I feel very grateful, pls don't add more code on my account (that you'll need to maintain).

Of course, if you'd like me to test this even if we won't be using it, I'd be very happy to recipr

[2022-05-17 16:31] ybelMekk commented on #252
That’s how we work 🤓

[2022-05-27 09:07] ybelMekk commented on #253
Closing this for now.

[2022-05-27 09:07] #253 closed

[2022-05-30 07:07] arcuri82 opened #262 "Usability issues and documentation"
Hi,
  thanks for writing this library. I tried to use it because I needed this functionality, but had to give up and look at alternatives. But I can provide you some feedback:

1) in `MockOAuth2Server`, both `start` and `shutdown` throw checked exceptions. This is not a problem in Kotlin, but it is a major PITA in Java. having to wrap in `try/catch` all their use is not so great when writing tests

[2022-06-01 12:00] ybelMekk opened #268 "doc: Add KDoc and dokka"
No JavaDocs on any of the methods in MockOAuth2Server, which unfortunately makes this library nearly unusable, unless one study its source code @arcuri82

[2022-06-01 13:15] ybelMekk commented on #262
could this work https://github.com/navikt/mock-oauth2-server/pull/269? @arcuri82

[2022-06-03 07:27] jksolbakken commented on #268
Kind of late to the party here, but here are my two cents. The lack of comments/javadoc-y things is intentional. The need for such comments is a tell-tale sign of having the wrong abstractions and/or types. If you point us to the specific parts of the code you find difficult we may try to remodel them, but as for adding boilerplate comments I say 👎

[2022-06-03 08:07] arcuri82 commented on #268
@jksolbakken practically everything?

just to give an example, what does `fun issuerUrl(issuerId: String): HttpUrl` do? does it register a known user in the server? does it look up a registered user and return an URL to locate his/her information?  the name of the function has only nouns, no verbs, so no idea what it is supposed to do. But if I dig in the code, I see a `= url(issuerId)` implementa

[2022-06-03 10:34] tronghn commented on #268
Being a mock server, you could deduce that a function named `fun issuerUrl(issuerId: String): HttpUrl` constructs a `HttpUrl` for a given `issuerId` for this specific instance of the server (as mock servers usually run on random ports). Of course, this intuition also does require that you have some working knowledge of OAuth in order to understand why you would need an "issuer URL" in the first pl

[2022-06-03 10:46] arcuri82 commented on #268
hi @tronghn
thanks for the feedback on the feedback. indeed, re-reading them, I see why what I wrote might be interpreted as passive aggressive, which was not intentional. If that was the case, I apologize for that

[2022-06-08 14:02] jp7677 opened #272 "question: How to set the logging severity for the stand-alone server"
Hi there,

When running mock-oauth2-server as a docker container, its logging is very verbose, the debug logging shows a lot of lines like

[code]

Is there a way to set the logging severity from the outside using an environment variable so that it can be applied to the stand alone docker image? I tried several of the "standard" ways like setting `_JAVA_OPTIONS=-Dlogging.level.root=WARN` or `JAVA_

[2022-06-13 09:58] ybelMekk commented on #272
could work? @jp7677 https://github.com/navikt/mock-oauth2-server/pull/276

[2022-06-15 06:43] jp7677 commented on #272
Hi @ybelMekk, thanks a lot for responding and for creating this PR. The PR works perfectly and completely resolve my question!

[2022-06-15 07:08] #272 closed

[2022-06-15 08:18] #268 closed

[2022-07-28 11:24] ivanskodje opened #306 "status check to know when it has successfully started"
I am looking to run this via docker-compose, and would like to add a status check so we can execute another script when this have successfully been loaded. So mock-oauth2-server have a status script, or api we can curl?

(Alternative approaches also appreciated).

On Ubuntu we had problems setting up host.docker.internal in hosts file, and made a script to automate it, and would like to do that vi

[2022-08-01 09:36] ybelMekk commented on #306
Thanks for opening this issue @ivanskodje !

For the standalone server there is a api endpoint `/isalive` to curl, have you tried this out?

[2022-08-01 09:50] ybelMekk commented on #306
It is probably not documented..

[2022-08-03 11:15] jksolbakken commented on #306
Added a note in the readme about what @ybelMekk said, closing the issue.

[2022-08-03 11:15] #306 closed

[2022-08-11 22:10] andythorne opened #312 "Inconsistent IssuerUrl when setting the Host header"
I'm seeing some strange behaviour affecting the issues url. When setting the host name to a name that does not contain a port, the issuer url seems to be set to the IP. When any port is included in the header, it uses the port on the supplied host (as you would expect).

Using:

[code]

Using `oauth2:80`, the issuer url is resolved to `oauth2`:
[code]

Using the host of the container `oauth2`, the

[2022-08-12 10:31] ybelMekk commented on #312
Hello @andythorne!, thanks for opening the issue and thanks for using it :)

I see the issue..

but if i recon the issue from the past we added an environment env `SEVER_HOSTNAME` where you can define  the host name, if not set the standalone server will return the ip, as your debug shows.

[code]

[2022-08-12 10:43] ybelMekk commented on #312
update, tried it locally and it seems to crash.. need some more investigation.

[2022-08-17 07:26] ybelMekk commented on #312
@andythorne have you tried to use `--ipv4` flag on curl?

[2022-09-14 19:55] brandonsilver commented on #220
I'm in a similar situation with the standalone server. I need to get a token via a client credentials POST with a particular set of scopes. When I perform the request, the scopes get placed into the 'aud' claim instead of the 'scope' claim.

Is there a way to get scopes placed into the 'scope' claim?

[2022-09-16 12:39] karl-run opened #332 "Unable to be used with testcontainers because /bin/sh isn't available in the container"
[testcontainers uses `/bin/sh`](https://github.com/testcontainers/testcontainers-node/blob/master/src/port-check.ts#L40-L44) to check that the container has started up and the port is bound.

Would be nice if the standalone mock-oauth2-server docker image was easy to use with testcontainers by having /bin/sh available. :smile:

[2022-09-16 13:00] karl-run commented on #332
Apperantly this has been discussed before: #51

Solution for ´testcontainers-node´: `.withWaitStrategy(Wait.forLogMessage(/.*started server.*/))`

[2022-09-16 13:00] #332 closed

[2022-09-16 21:45] ybelMekk commented on #312
no response, closing it for now. please feel free to reopen if the issue remains.

[2022-09-16 21:45] #312 closed

[2022-09-30 18:37] johnchesser opened #342 "Escaped quotes appear when using testutils/signclaims in token"
I have noticed this when making a call to testutils/signclaims .  Not sure where they are coming from, but when it ends up in spring the first scope is **"abc** and the last scope is **ghi"** .

![image](https://user-images.githubusercontent.com/6753280/193334866-18ec3646-5676-4286-a63e-bd13103bc17c.png)
![image](https://user-images.githubusercontent.com/6753280/193334933-6ed98960-70d6-4344-8270-7

[2022-10-03 07:04] jksolbakken commented on #342
Hi! I'm unable to reproduce this behaviour, can you share some details on what you are doing when the problem occurs?

[2022-10-03 15:17] johnchesser commented on #342
I just went back and used Webclient just in case

`			String astring = client.post()
					.uri("/default/testutils/signclaims")
					.header(HttpHeaders.CONTENT_TYPE, MediaType.APPLICATION_JSON_VALUE)
					.body(BodyInserters.fromValue(om.writeValueAsString(jwtsr)))
					.retrieve()
					.bodyToMono(String.class)
					.block();
`

Here is the result of om.writeValueAsString(jwtsr)

`{"expiry":"PT1

[2022-10-04 07:06] jksolbakken commented on #342
Is this endpoint something you have made? Can't find any traces of it.

[2022-10-04 13:40] johnchesser commented on #342
Ah, I think I have figured it out based on your last comment.  I have a fork of this project locally (I thought I had this version, which is why I'm here), and that fork happens to have exactly what I need.  I just need a way to get a set of scopes and token for integration testing, without any pre-configuration.

https://github.com/erik-a-e/mock-oauth2-server

https://github.com/navikt/mock-oauth

[2022-10-05 07:44] tommytroen commented on #342
@johnchesser It depends on how you are using the server. Are you using it from a JUnit test? Are you using it as a Docker image? For the former you can configure the server to return any claims you want inside your test, for the latter you can supply a json config for the claims you want back. Also do you need to get the token via a HTTP call or do you want it programmatically?

[2022-10-05 16:05] johnchesser commented on #342
We are using it as an image, and for testing only.   I think I fully understand the configuration, but what I have now doesn't require any, and we have new scopes added for each new product we build so we don't want to have to sync this up to our auth (scope) automation process.

This is basically our simple testing contract :

`public static JWTResponse getTokenWithScopes(String[] scopes)`

I thi

[2022-10-05 20:46] esumerfd opened #345 "question: Looking for Server API Doc"
I am build an Auth0 simulator and want to integrate your oauth server in our CI chain. We can just run your container build but want to initiate tests from Cypress so am wondering of you have some API doc for us to put this together.

The need at the moment is to make the /authorize endpoint generate a custom claim.

[2022-10-08 13:14] gayashanbc-hp opened #346 "question: help with some examples for using the REST APIs"
Can someone please provide me examples on how I can use the REST APIs to get a valid token?

[2022-10-08 13:14] gayashanbc-hp commented on #346
@tommytroen

[2022-10-09 16:12] ybelMekk commented on #346
Hello @gayashanbc-hp . The /token endpoint will give you a valid token.

[2022-10-09 17:25] ybelMekk commented on #345
Hello @esumerfd .

Have you seen: https://github.com/navikt/mock-oauth2-server#api-documentation ?

Or are you talking about the REST-API, it follows the specification for OAuth 2.0: [4.1.1](https://www.rfc-editor.org/rfc/rfc6749#section-4.1.1).  Authorization Request

[2022-10-10 21:01] esumerfd commented on #345
Ah, a third option. Perhaps my use cases isn't supported. Create issuer configuration over REST

It's a CI environment and this solution as a Auth0 Simulator works fine. Now I am looking for ways to extend it to represent failure scenarios etc.

[2022-10-10 21:15] ybelMekk commented on #345
Ah, I see, its been up for discussion before I believe: https://github.com/navikt/mock-oauth2-server/issues/194

We currently only support JSON_CONFIG at startup of the docker container, but I can see the potential of dynamically in a CI env update claims or user info.

Please open a PR if you familiar with kotlin? 😊

[2022-10-11 07:01] tommytroen commented on #345
@esumerfd If all you need is control over the claims per authorization request you can set `interactiveLogin: true` if you are using a custom json_config (if you are not using json_config it will default to true in standalone mode).

When `interactiveLogin` is `true` you will get a login form containing a form parameter called `claims`, which can contain any json you'd like so you can set scopes t

[2022-10-16 04:34] #346 closed

[2022-10-17 18:08] loosebazooka opened #356 "No longer compatible with java11?"
When moving from 0.5.1 -> 0.5.5 in gradle it looks like java11 compatibility was lost? Is this intentional? See the "org.gradle.jvm.version" attributes in modules files:

https://repo1.maven.org/maven2/no/nav/security/mock-oauth2-server/0.5.3/mock-oauth2-server-0.5.3.module
https://repo1.maven.org/maven2/no/nav/security/mock-oauth2-server/0.5.1/mock-oauth2-server-0.5.1.module

Forces me to run all

[2022-10-19 10:35] loosebazooka commented on #356
I think if you're not using Java17 features, it shouldn't matter if you're keep both values at `VERSION_11`. But I guess this is your call as the maintainer.

Setting `targetCompatibility = JavaVersion.VERSION_17` will not allow the library to be used with java11 projects. As, from what I understand, class files are generated to be only compatible with java17+.

`sourceCompatibility` seems to be a

[2022-10-19 10:49] ybelMekk commented on #356
I figure it's reasonable and right to keep the backward compatibility, as the tool is used for older (not as fast running, not looking back dude thinking me 🙈)

could call inn som people with a little better understanding about around the problem here:
📲 -> @tommytroen , @jksolbakken

[2022-10-19 11:07] jksolbakken commented on #356
I don't see any issues with going back to 11, at least until the official support ends (in september 2023 iirc).

[2022-10-19 13:58] tommytroen commented on #356
@ybelMekk Lets go back to 11

[2022-10-20 12:13] #356 closed

[2022-10-20 18:35] loosebazooka commented on #356
thanks for the quick release!

[2022-10-20 18:55] ybelMekk commented on #356
This is on me. Thanks for reporting 🥇

[2022-10-22 07:53] sazzer opened #359 "Management API support"
This looks immensely useful for the testing of my code against a "real" Auth0 service. However, if I'm right it only supports the authentication endpoints and not the management API? It would be incredibly useful if there was some way for this to also support the management API endpoints - at the very least the ones for working with users.

Cheers

[2022-10-22 13:17] ybelMekk commented on #359
Hi @sazzer and thanks for submitting this issue, just to clarify for me personally, when your talking about management API, what part of the [oauth2 spec](https://oauth.net/2/)are you referring too?

[2022-10-22 13:44] sazzer commented on #359
Please ignore me. I apparently wasn't fully awake this morning when I
posted this! I was looking for a mock *Auth0* server and misread the name
of this project. Sorry for the confusion!

On Sat, 22 Oct 2022, 14:17 Youssef Bel Mekki, ***@***.***>
wrote:

[2022-10-22 17:17] ybelMekk commented on #359
No problem 😉 Closing this.

[2022-10-22 17:17] #359 closed

[2022-10-22 17:17] ybelMekk commented on #345
👍 closing this for now

[2022-10-22 17:17] #345 closed

[2022-10-26 17:28] esumerfd opened #362 "Question: Need different domains from metadata response"
Due to some unfortunate infrastructure we have the server hosted on one domain and the Cypress browser accessing it from another domain.

Dotnet allows me to specify a URL to get the metadata but that response needs to contain url that the browser can use.

response:

[code]

[2022-10-27 07:00] ybelMekk commented on #362
Hello @esumerfd

Did you try to set/export `SERVER_HOSTNAME` environment variable when starting up the mock-oauth2 container?

[2022-10-27 08:03] jksolbakken commented on #362
The server should use the `Host` (or the `x-forwarded-for`) header if it is present to construct the issuer. Does your HTTP client set the `Host` header? Which version of the mock-oauth-server are you using, btw?

[2022-10-27 14:39] esumerfd commented on #362
Hi @ybelMekk,  the SERVER_HOSTNAME doesn't change the endpoints in the response to .well-known/openid-configuration. I assume this is to limit the IP the server listens to?

@jksolbakken, the headers parsing is interesting but since the browser is receiving the endpoint as part of the redirect to the simulator, how would I add these headers?

The Host header would be set by the browser (cypress) t

[2022-10-28 10:45] jksolbakken commented on #362
My bad, I misread your question and thought you were making the requests from your Dotnet code. I can't get the SERVER_HOSTNAME thing to work, there's something fishy going on with that. We'll try to set aside some time to look into this next week.

[2022-11-01 07:33] ybelMekk commented on #362
@jksolbakken did you digg in to this?

[2022-11-04 09:44] ybelMekk commented on #362
@esumerfd are you on the latest version og mock-oauth2-server?

[2022-11-04 14:44] esumerfd commented on #362
Very stock:

json='{"interactiveLogin": true}'
docker run -e SERVER_PORT=5070 -e JSON_CONFIG="$json" -p 5070:5070
stackct.azurecr.io/docker/auth0sim:latest

On Fri, Nov 4, 2022 at 5:44 AM Youssef Bel Mekki ***@***.***>
wrote:

[2022-11-06 23:48] ybelMekk commented on #362
Can  you try to run your setup like this:

[code]

run your request with host header  `Host: auth0sim`

[code]

[2022-11-07 14:25] esumerfd commented on #362
Thanks for taking a look at this Youssef. Here are some tests to help.

Specific live use case. DotNet MVC makes this request to Auth0 like this:

GET https://auth0sim:5070/.well-known/openid-configuration HTTP/1.1
Host: auth0sim:5070
User-Agent: Microsoft ASP.NET Core OpenIdConnect handler

Running mock-oauth2-server with hostname and SERVE_HOSTNAME parameters.

docker run --hostname auth0sim  -e

[2022-11-10 12:50] ybelMekk commented on #362
@esumerfd so in short you need a way to set metadata response server (working copy) at startup, not with the host header? 😄

[2022-11-10 13:58] esumerfd commented on #362
Thats it. Much simpler way of saying it. :-)

[2022-11-10 14:12] ybelMekk commented on #362
Ive been testing some more, and the mock-oauth-server works as intended and in your example over you say that DotNet MVC specifies Host header.

[code]

[2022-11-10 14:23] esumerfd commented on #362
yes. The problem being that the domain name exposing auth0sim to the webserver is a different than the domain name exposing the auth0sim to the browser, so when the redirect occurs to /authorize the browser can not connect.

The mock servers feature of use-the-requesting-domain-name is great for simple environments where the browser, web server and mock server are on the same network.

I have the

[2022-11-11 09:53] tommytroen commented on #362
@esumerfd Hi. Late to the party here but have read through the issue now.

As you are running the containers in k8s - have you tried calling the mock server from the webserver via ingress (not via service discovery)? If you use an ingress both in container to container communication as well as from the VM hosting the browser you should get the same host in all urls.

[2022-11-11 13:32] mkutz opened #376 "Support more negative testing"
I'm currently writing some authentication code in my own framework.
The mock-oauth2-server served me really well to get the implementation to work, but now I'm trying to verify some error handling. E.g.:

* The OAuth2 server doesn't accept my login data, or
* the OAuth2 server is not reachable.

I also have some token caching code, I'd like to test. For that I'd like to check if the OAuth2 server

[2022-11-18 07:46] ybelMekk commented on #376
Hi @mkutz could you provide some examples of negativ testing you´re trying out?

[2022-11-22 13:30] bjerga opened #380 "Valid authorization tokens rejected in version 0.5.4 and above"
I am experiencing what I believe to be a bug when upgrading from version 0.5.3 to 0.5.4.

I am trying to test a backend app that receives requests from a frontend app. I am using version 2.1.7 of [token-support](https://github.com/navikt/token-support) to set up token validation. The code I am using to mock the authentication looks something like
[code]

When using 0.5.3, my tests are completing a

[2022-11-22 23:28] ybelMekk commented on #380
This are the changes for version 0.5.4: https://github.com/navikt/mock-oauth2-server/pull/338/files

Could be some her..

[2022-11-22 23:36] ybelMekk commented on #380
@bjerga Im just thinking loud here, but are you setting `Host` header explicit when requesting, or can you check. what it is set to during request?

[2022-11-25 09:13] bjerga commented on #380
@ybelMekk `Host`-header is not set explicitly and it does not seem to be present during the request.

[2022-11-25 10:10] mrsladek commented on #362
@ybelMekk The problem with Host header is that it is not longer supported to change it since JDK 12 (https://bugs.openjdk.org/browse/JDK-8213696).

Would it be possible to fix host of the metadata (or only the issuer) to a particular value with a config parameter? I think it would be necessary in this kind of scenarios.

[2022-11-28 13:39] ybelMekk commented on #362
It sounds useful yes, but the container, when requesting metadata e.g. a call to `curl http://oauth2:8080/default/.well-known/openid-configuration` gives:

[code]

then you call the jwks endpoint: `curl http://oauth2:8080/default/jwks`
you will get some data, but if you say change the well known metadata issuer to: `yolo`

you'll get what you want

[code]

but a curl to "http://yolo:8080/default"